# Игнорируем служебные папки и файлы
node_modules/
archive_ver2/
archive_ver1/
test/
# Игнорируем специфичные файлы macOS и скрипты автоматизации, log и прочие old файлы
.DS_Store
*.adoc.md
*OLD.js
# Игнорируем скрытые настройки сред разработки (если используете)
.vscode/
.idea/
.aider*
.zshrc